/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

//#include <zephyr/dt-bindings/dma/rpi-pico-dma-rp2040.h>
//#include <zephyr/dt-bindings/dma/rpi-pico-dma-rp2350.h>
//#include <zephyr/dt-bindings/pinctrl/rpi-pico-rp2350a-pinctrl.h>

/ {
	chosen {
		zephyr,mcumgr = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart1;
		zephyr,console = &cdc_acm_uart2;
		//zephyr,code-partition = &slot0_partition;
	};
};

&die_temp {
	status = "okay";
};



&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		status = "okay";
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
	cdc_acm_uart1: cdc_acm_uart1 {
		status = "okay";
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_1";
	};
	cdc_acm_uart2: cdc_acm_uart2 {
		status = "okay";
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_2";
	};
};
